body {
    background-color: black;
}

h4, #game {
    color: white;
}

#guess-input {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.container {
    text-align: center;
  }